
<section class="cid-qTkzRZLJNu mbr-fullscreen mbr-parallax-background" style="background-color: #3b3e3e; ">

  <div class="mbr-overlay " style="opacity: 0.4; "></div>

  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-12">

        <section style="background-color: #3b3e3e;">
          <header class="header">
            <div class="row">
              <div class="col-sm-6 col-md-6 align-left ">
                <h1 class="text-white display-2 mbr-bold mbr-fonts-style">Streams</h1>
              </div>
              <div class="col-sm-6 col-md-6 align-right">
                <a class="btn btn-outline-success display-5 text-white mbr-fonts-style text-center" (click)="createStreamPage()" >
                  New Stream
                </a>
              </div>
            </div>

          </header>
        </section>

        <section style="background-color: #3b3e3e;">

          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>URL</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr >
            <tr *ngFor="let s of streams">
              <th scope="row">{{s.id}}</th>
              <td>{{s.name}}</td>
              <td>{{s.description}}</td>
              <td>{{s.url}}</td>
              <td>
                <div class="mbr-section-btn text-center ">
                  <a class="btn btn-primary display-6 text-white mbr-fonts-style text-center" (click)="editStreamPage(s)">
                    Edit
                  </a>
                  <a class="btn btn-secondary display-6 text-white mbr-fonts-style text-center" (click)="deleteUser(s.id)">
                  Delete
                  </a>

                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>

</section>


