
<section class="cid-qTkzRZLJNu mbr-fullscreen mbr-parallax-background" style="background-color: #3b3e3e; ">

  <div class="mbr-overlay " style="opacity: 0.4; "></div>

  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-8">

        <section style="background-color: #3b3e3e;">
          <form novalidate >
            <fieldset>
              <div class="form-group">
                <label>Stream Name</label>
                <input type="text" class="form-control input-sm input-inverse" name="name"
                       required="true" data-form-field="name" value="" placeholder="Stream name" >

              </div>

              <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control input-sm input-inverse" name="desc"
                       required="true" data-form-field="desc"  value="" placeholder="Description" >
              </div>
            </fieldset>

            <div class="form-group">
              <label>Stream URL</label>
              <input type="text" class="form-control input-sm input-inverse" name="url"
                     required="true" data-form-field="url" value="" placeholder="URL" >
            </div>

            <button type="submit" class="btn btn-primary"  [disabled]="!userForm.valid"  >Submit</button>
            <button type="button" class="btn btn-warning" >Cancel</button>
            <!--<pre>{{userForm.value | json}}</pre>-->
          </form>
        </section>


      </div>
    </div>
  </div>

</section>


